<footer>
  <div class="footer-left">
    <p>
      <strong
        >&copy; <%= new Date().getFullYear() %> . All Rights Reserved.</strong
      ><br />Built by Chandu
    </p>
  </div>

  <div class="footer-icons">
    <a href="#" title="YouTube"><i class="fab fa-youtube"></i></a>
    <a href="#" title="Telegram"><i class="fab fa-telegram-plane"></i></a>
    <a href="#" title="Twitter"><i class="fab fa-twitter"></i></a>
    <a href="#" title="Facebook"><i class="fab fa-facebook-f"></i></a>
  </div>
</footer>
